# 🐍 Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.pyo
*.pyd
*.pkl
*.log

# 📦 Virtual environment
.LibraMind/

# 📂 Logs 
logs/

# 📁 Environment files
.env
.env.local

# 📦 Package distribution
build/
dist/
*.egg-info/

# 🧪 Testing
.coverage
htmlcov/
.tox/
.pytest_cache/

# 💻 VS Code
.vscode/

# 📂 OS-specific files
.DS_Store
Thumbs.db


# Temporary files
*_temp
_temp/*

.python-version